
#top-bar{
  position: fixed;
  width: 100%;
  height:55px;
  z-index: 1000;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  box-shadow: 0 1px 0 rgba(255, 255, 255, .1);
  text-align: center;
  background: #19478a;
  .menuwrapper {
     max-width: 1200px;
     width: 100%;
     margin: 0 auto;

    .logoblock {
         float: left;
         padding: .8em 1em 0;
         display: inline-block;
         .companyname {
            font-family: good_times;
            float: left;
            font-size: 17px;
            text-transform: uppercase;
            margin: .3em 0 0 1em;
            color: rgba(255, 255, 255, .7);
            font-weight: 700;
            transition: all .5s ease;
        }
     }
    .logoblock:hover{
      .companyname {
         color: #fff;
       }
    }

 }

}

#view-conteiner{
  margin-top:60px;
}
