//*************************************************************
//  VARIAVEIS
//*************************************************************

$flat-shadown:0.4em 0.4em 0px 0em rgba(0, 0, 0, 0.3);
$flat-shadown-text:0.04em 0.04em rgba(0, 0, 0, 0.3);
$flat-shadown-inset:0.4em 0.4em 0px 0em rgba(0, 0, 0, 0.3) inset;

$bu-body-color:#D7DBD6;


$bu-principal-background:#01579B;
/* $bu-principal-background:#a1a1a1; */
$bu-principal-color:#fff;

$bu-menu-background: #32383C;
$bu-menu-color:#FDFCFB;

$bu-secundary-background:#fff;
$bu-secundary-color:#01579B;

$bu-receipt-bg:#f9efc7;

$border-radius:4px;

$default-font-family:Roboto, Helvetica , Arial;

$color-primary : #333;
$color-primary-text : #fff;
$color-primary-title: #5296B9;

$primary: rgb(96, 96, 96);
$primary-color:#fff;
$secundary-color:#f3d95e;
$receipt-bg:#f9efc7;

$default:#eee;
$default-border: #ccc;
$danger: #c0392b;
$danger-border: #e74c3c;
$success:#16a085;
$success-border:#1abc9c;
$warning:#f39c12;
$warning-border:#f1c40f;
$info:#2980b9;
$info-border:#3498db;
$facebook: #435C94;
$facebook-border: #2C3E64;
$twitter: #71d1fa;
$twitter-border: #48A4D5;
$whatsapp: #7ABF69;
$whatsapp-border: #25A518;
$google: #EA514B;
$google-border: #BB3029;
$generico: #999;
$generico-border: #333;
$purpple:#ad7fa9;

$default-background:"/assets/images/background-overlayed.png";
