
//________________________ EXTEND IONIC ________________________



.tabs-top .tabs , .tabs-striped .tabs {
  background-color: darken($bu-principal-background, 10% )!important;
  border:none;
  a{
    border:none;
    i{
      color:#fff;
    }
  }
  a.tab-item-active{
    background-color: $bu-principal-background!important;
    border:none!important;
  }
}
.tabs-top.tabs-striped .tab-item.tab-item-active, .tabs-top.tabs-striped .tab-item.active, .tabs-top.tabs-striped .tab-item.activated{
  background-color: $bu-principal-background!important;
  border:none!important;
  height:100%!important;
  margin-top:0px;
}

.bar {
  box-shadow:none!important;
  button{
    box-shadow:none!important;
    padding:0 0 0 0!important;
  }
}

.card-item.item {
  padding: 0px;
  .item , img{
      box-shadow:none!important;
  }
}


.item.item-input, .item.item-icon-left {
  text-align:left!important;
  h2, h3{
    text-align:left!important;
  }
  .icon{
    font-size:20px;
  }
}
.item.item-tag{
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  position: absolute;
  height: 30px;
  line-height: 30px;
  width: 120px;
  right: -29px;
  font-size: 10px;
  top: 10px;
  display: block;
  padding: 0px;
  text-align: center;
  margin: 0px;
  border: none;
  border-width: 0px;
  color: #fff;
  background-color: rgba($warning, 0.8);
}


  .item.item-image{
    width: 100%;
    margin-left:0;
    overflow: visible;
    margin-bottom: -8px;
    img{
      width:100%;
    }

  }
  .item.item-avatar{
    text-align: left;
    margin: 0px;
    padding: 15px 0px 10px 71px!important;
    min-height: 66px !important;
    img:first-child {
      border-radius: 50%;
      left: 16px;
      max-height: 40px;
      max-width: 40px;
      }
  }


.card{

  p{
    margin:0px;
    padding:0px;
  }
}

.card.list{
  margin-bottom:10px!important;
}


.bar-footer{
  height: 47px!important;

}
ion-tabs{
  .has-header {
  top: 94px;
  }
}



//________________________ EXTEND IONIC ________________________
