@charset "UTF-8";

@font-face {
  font-family: "boraicons";
  src:url("borayu.eot");
  src:url("borayu.eot?#iefix") format("embedded-opentype"),
    url("borayu.woff") format("woff"),
    url("borayu.ttf") format("truetype"),
    url("borayu.svg#borayu") format("svg");
  font-weight: normal;
  font-style: normal;

}


[data-icon]:before {
  font-family: "boraicons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="bu-"]:before,
[class*=" bu-"]:before {
  font-family: "boraicons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bu-barcode:before {
  content: "c";
}
.bu-barcode-search:before {
  content: "d";
}
.bu-barcode-scan:before {
  content: "e";
}
.bu-starts:before {
  content: "f";
}
.bu-star:before {
  content: "g";
}
.bu-config:before {
  content: "h";
}
.bu-dash:before {
  content: "i";
}
.bu-send:before {
  content: "j";
}
.bu-not:before {
  content: "k";
}
.bu-info:before {
  content: "l";
}
.bu-question:before {
  content: "m";
}
.bu-info-1:before {
  content: "n";
}
.bu-receipt:before {
  content: "o";
}
.bu-wallet:before {
  content: "p";
}
.bu-cashbox:before {
  content: "q";
}
.bu-cashes:before {
  content: "r";
}
.bu-cards:before {
  content: "s";
}
.bu-date:before {
  content: "t";
}
.bu-calendar:before {
  content: "u";
}
.bu-persons:before {
  content: "v";
}
.bu-condo:before {
  content: "w";
}
.bu-profile:before {
  content: "x";
}
.bu-profile2:before {
  content: "y";
}
.bu-promotion:before {
  content: "z";
}
.bu-photo:before {
  content: "A";
}
.bu-reload:before {
  content: "B";
}
.bu-shops:before {
  content: "C";
}
.bu-wallet2:before {
  content: "D";
}
.bu-camera:before {
  content: "E";
}
.bu-loading:before {
  content: "F";
}
.bu-receipts:before {
  content: "G";
}
.bu-points:before {
  content: "H";
}
.bu-bilboard:before {
  content: "I";
}
.bu-flag:before {
  content: "J";
}
.bu-flag2:before {
  content: "K";
}
.bu-money:before {
  content: "L";
}
.bu-shop:before {
  content: "M";
}
.bu-card:before {
  content: "N";
}
.bu-cash:before {
  content: "O";
}
.bu-download:before {
  content: "P";
}
.bu-upload:before {
  content: "Q";
}
.bu-reloadcloud:before {
  content: "R";
}
.bu-reload2:before {
  content: "S";
}
.bu-sing:before {
  content: "T";
}
.bu-coupon:before {
  content: "U";
}
.bu-coupons:before {
  content: "V";
}
.bu-icon{
  font-size: 28px!important;
  position: relative;
  top: 4px;
}
